<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
</head>

<body>

    <div>
        <h1>Welcome to MapMate!</h1>
    </div>

    <div>
        <h2>Commands</h2>
        <div id="tabs">
            <ul class="tab">
                <form style="float: left;" action="/new_plot" method="GET">
                    <input type="submit" value="New Plot" name="newPlt" id="frmNewPlt" />
                </form>
            </ul>
        </div>

    </div>


</body>

</html>